/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
}

header,
header > div > h1,
main > div > div  h2,
main > div > div  h3,
main > div > div > article > h2,
main > div > div > article > h3,
footer {
  text-align: center;
  margin: 0;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-bottom: 40px;
}

nav a {
  margin-right: 20px;
  font-size: 18px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

#portfolio p {
  font-size: 14px;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%; 
  border: 2px solid #003049;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

a:link    { color: #d62828;  }
a:visited { color: red;   }
a:hover   { color: #f77f00; }
a:active  { color: pink;  }
